[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/TaskList"]
	path = dotfiles/vim/bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "dotfiles/vim/bundle/Dockerfile"]
	path = dotfiles/vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "dotfiles/vim/bundle/vim-bracketed-paste"]
	path = dotfiles/vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "dotfiles/vim/bundle/railscasts-theme"]
	path = dotfiles/vim/bundle/railscasts-theme
	url = git@github.com:dhruvasagar/vim-railscasts-theme.git
